.card {
  width: 180px;
  margin: 3px;
}

.card-img-top {
  width: 180px;
  border-radius: 50%;
  margin: auto;
}

.logo {
  width: 50px;
  margin-left: 50px;
}

#num {
  font-weight: bold;
  margin-left: 10px;
}

h6 {
  font-size: 15px;
}
