.card {
  width: 180px;
  margin: 3px;
}

.card:hover {
  border: 3px solid #1d428a;
}

.card-columns {
  column-count: 1;
}

.card-img-top {
  width: 180px;
  border-radius: 50%;
  margin: auto;
}

.logo {
  width: 50px;
  margin-left: 50px;
}

#name {
  font-size: 0.9rem;
  font-display: bold;
}

#num {
  font-weight: bold;
  margin-left: 10px;
}

#position {
  font-size: 0.8rem;
}

#height_weight {
  font-size: 0.85rem;
}
