.card {
  height: 350px;
  width: 180px;
  margin: 3px;
  margin-top: 9px;
}

.card-body {
  padding: 0;
}

.card-img-top {
  width: 180px;
  border-radius: 50%;
  margin: auto;
}

.logo {
  width: 50px;
  margin-left: 65px;
}

.biglogo {
  width: 100px;
}

#position {
  margin-top: -40px;
}

.details {
  margin-top: 10px;
  padding-top: 80px;
  margin-left: 20px;
}

#name {
  margin-bottom: 50px;
  text-align: center;
}

table.table {
  color: white;
  background-color: #0B153C;
}

.ATL {
  background-color: #e21a37;
  background: linear-gradient(to bottom, #e21a37 0%, #e21a37 38%, transparent 100%) no-repeat, #0b1a36;
}

.BOS {

  background-color: #00611b;
  background: linear-gradient(to bottom, #00611b 0%, #00611b 38%, transparent 100%) no-repeat, #0b1a36;

}

.BKN {
  background-color: #000;
  background: linear-gradient(to bottom, #000 0%, #000 38%, transparent 100%) no-repeat, #0b1a36;
}

.CHA {
  background-color: #000;
  background: linear-gradient(to bottom, #000 0%, #000 38%, transparent 100%) no-repeat, #0b1a36;
}

.CHI {
  background-color: #b00203;
  background: linear-gradient(to bottom, #b00203 0%, #b00203 38%, transparent 100%) no-repeat, #0b1a36;
}

.CLE {
  background-color: #860038;
  background: linear-gradient(to bottom, #860038 0%, #860038 38%, transparent 100%) no-repeat, #0b1a36;
}

.DAL {
  background-color: #006bb6;
  background: linear-gradient(to bottom, #006bb6 0%, #006bb6 38%, transparent 100%) no-repeat, #0b1a36;
}

.DEN {
  background-color: #feb927;
  background: linear-gradient(to bottom, #feb927 0%, #feb927 38%, transparent 100%) no-repeat, #0b1a36;
}

.DET {
  background-color: #fa002c;
  background: linear-gradient(to bottom, #fa002c 0%, #fa002c 38%, transparent 100%) no-repeat, #0b1a36;
}

.GSW {
  background-color: #039;
  background: linear-gradient(to bottom, #039 0%, #039 38%, transparent 100%) no-repeat, #0b1a36;
}

.HOU {
  background-color: #cd212b;
  background: linear-gradient(to bottom, #cd212b 0%, #cd212b 38%, transparent 100%) no-repeat, #0b1a36;
}

.IND {
  background-color: #ffb517;
  background: linear-gradient(to bottom, #ffb517 0%, #ffb517 38%, transparent 100%) no-repeat, #0b1a36;
}

.LAC {
  background-color: #ed174b;
  background: linear-gradient(to bottom, #ed174b 0%, #ed174b 38%, transparent 100%) no-repeat, #0b1a36;
}

.LAL {
  background-color: #fdba33;
  background: linear-gradient(to bottom, #fdba33 0%, #fdba33 38%, transparent 100%) no-repeat, #0b1a36;
}

.MEM {
  background-color: #5d76a9;
  background: linear-gradient(to bottom, #5d76a9 0%, #5d76a9 38%, transparent 100%) no-repeat, #0b1a36;
}

.MIA {
  background-color: #98002e;
  background: linear-gradient(to bottom, #98002e 0%, #98002e 38%, transparent 100%) no-repeat, #0b1a36;
}

.MIL {
  background-color: #00471b;
  background: linear-gradient(to bottom, #00471b 0%, #00471b 38%, transparent 100%) no-repeat, #0b1a36;
}

.MIN {
  background-color: #2b6291;
  background: linear-gradient(to bottom, #2b6291 0%, #2b6291 38%, transparent 100%) no-repeat, #0b1a36;
}

.NOP {
  background-color: #0c2340;
  background: linear-gradient(to bottom, #0c2340 0%, #0c2340 38%, transparent 100%) no-repeat, #0b1a36;
}

.NYK {
  background-color: #f58426;
  background: linear-gradient(to bottom, #f58426 0%, #f58426 38%, transparent 100%) no-repeat, #0b1a36;
}

.OKC {
  background-color: #002d62;
  background: linear-gradient(to bottom, #002d62 0%, #002d62 38%, transparent 100%) no-repeat, #0b1a36;
}

.ORL {
  background-color: #0077c0;
  background: linear-gradient(to bottom, #0077c0 0%, #0077c0 38%, transparent 100%) no-repeat, #0b1a36;
}

.PHI {
  background-color: #ef0022;
  background: linear-gradient(to bottom, #ef0022 0%, #ef0022 38%, transparent 100%) no-repeat, #0b1a36;
}

.PHX {
  background-color: #e76221;
  background: linear-gradient(to bottom, #e76221 0%, #e76221 38%, transparent 100%) no-repeat, #0b1a36;
}

.POR {
  background-color: #c00;
  background: linear-gradient(to bottom, #c00 0%, #c00 38%, transparent 100%) no-repeat, #0b1a36;
}

.SAC {
  background-color: #51388a;
  background: linear-gradient(to bottom, #51388a 0%, #51388a 38%, transparent 100%) no-repeat, #0b1a36;
}

.SAS {
  background-color: #959191;
  background: linear-gradient(to bottom, #959191 0%, #959191 38%, transparent 100%) no-repeat, #0b1a36;
}

.TOR {
  background-color: #bd1b21;
  background: linear-gradient(to bottom, #bd1b21 0%, #bd1b21 38%, transparent 100%) no-repeat, #0b1a36;
}

.UTA {
  background-color: #f9a11e;
  background: linear-gradient(to bottom, #f9a11e 0%, #f9a11e 38%, transparent 100%) no-repeat, #0b1a36;
}

.ATL,
.BOS,
.BKN,
.CHA,
.CHI,
.CLE,
.DAL,
.DEN,
.DET,
.GSW,
.HOU,
.IND,
.LAC,
.LAL,
.MEM,
.MIA,
.MIL,
.MIN,
.NOP,
.NYK,
.ORL,
.PHI,
.PHX,
.POR,
.SAC,
.SAS,
.TOR,
.UTA {
  color: white;
}
