.card {
  width: 180px;
  margin: 3px;
}

.card-img-top {
  width: 180px;
  border-radius: 50%;
  margin: auto;
}

.logo {
  width: 50px;
  margin-left: 50px;
}

.biglogo {
  width: 100px;
}

.details {
  padding-top: 80px;
  margin-left: 20px;
}

#name {
  margin-bottom: 50px;
  text-align: center;
}

.ATL {
  color: white;
  background-color: #e21a37;
  background: linear-gradient(to bottom, #e21a37 0%, #e21a37 38%, transparent 100%) no-repeat, #0b1a36;
}

.BOS {
  color: white;
  background-color: #00611b;
  background: linear-gradient(to bottom, #00611b 0%, #00611b 38%, transparent 100%) no-repeat, #0b1a36;

}

.BKN {
  color: white;
  background-color: #000;
  background: linear-gradient(to bottom, #000 0%, #000 38%, transparent 100%) no-repeat, #0b1a36;
}

.CHA {
  color: white;
  background-color: #000;
  background: linear-gradient(to bottom, #000 0%, #000 38%, transparent 100%) no-repeat, #0b1a36;
}

.CHI {
  color: white;
  background-color: #b00203;
  background: linear-gradient(to bottom, #b00203 0%, #b00203 38%, transparent 100%) no-repeat, #0b1a36;
}

.CLE {
  color: white;
  background-color: #860038;
  background: linear-gradient(to bottom, #860038 0%, #860038 38%, transparent 100%) no-repeat, #0b1a36;
}

.DAL {
  color: white;
  background-color: #006bb6;
  background: linear-gradient(to bottom, #006bb6 0%, #006bb6 38%, transparent 100%) no-repeat, #0b1a36;
}

.DEN {
  color: white;
  background-color: #feb927;
  background: linear-gradient(to bottom, #feb927 0%, #feb927 38%, transparent 100%) no-repeat, #0b1a36;
}

.DET {
  color: white;
  background-color: #fa002c;
  background: linear-gradient(to bottom, #fa002c 0%, #fa002c 38%, transparent 100%) no-repeat, #0b1a36;
}

.GSW {
  color: white;
  background-color: #039;
  background: linear-gradient(to bottom, #039 0%, #039 38%, transparent 100%) no-repeat, #0b1a36;
}

.HOU {
  color: white;
  background-color: #cd212b;
  background: linear-gradient(to bottom, #cd212b 0%, #cd212b 38%, transparent 100%) no-repeat, #0b1a36;
}

.IND {
  color: white;
  background-color: #ffb517;
  background: linear-gradient(to bottom, #ffb517 0%, #ffb517 38%, transparent 100%) no-repeat, #0b1a36;
}

.LAC {
  color: white;
  background-color: #ed174b;
  background: linear-gradient(to bottom, #ed174b 0%, #ed174b 38%, transparent 100%) no-repeat, #0b1a36;
}

.LAL {
  color: white;
  background-color: #fdba33;
  background: linear-gradient(to bottom, #fdba33 0%, #fdba33 38%, transparent 100%) no-repeat, #0b1a36;
}

.MEM {
  color: white;
  background-color: #5d76a9;
  background: linear-gradient(to bottom, #5d76a9 0%, #5d76a9 38%, transparent 100%) no-repeat, #0b1a36;
}

.MIA {
  color: white;
  background-color: #98002e;
  background: linear-gradient(to bottom, #98002e 0%, #98002e 38%, transparent 100%) no-repeat, #0b1a36;
}

.MIL {
  color: white;
  background-color: #00471b;
  background: linear-gradient(to bottom, #00471b 0%, #00471b 38%, transparent 100%) no-repeat, #0b1a36;
}

.MIN {
  color: white;
  background-color: #2b6291;
  background: linear-gradient(to bottom, #2b6291 0%, #2b6291 38%, transparent 100%) no-repeat, #0b1a36;
}
